@tailwind base;
@tailwind components;
@tailwind utilities;

/* Exo-2 Font */

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;700&display=swap");

.exo-2 {
  font-family: "Exo 2", sans-serif;
}

.color-1 {
  color: #111111;
}

.color-2 {
  color: #11111199;
}

.color-3 {
  color: #6047ec;
}
